:root {
  --gray-background: #f3f4f6;
  --white-background: #fff;
}

body {
  font-family: sans-serif;
  background-color: var(--gray-background);
  height: 100vh;
  margin: 0;
  padding: 0px;
}

p {
  margin: 0;
}

.general_info,
.education_info,
.experience_info,
.resume_container {
  background-color: var(--white-background);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 10px 0px;
}

.general_info,
.education_info,
.experience_info {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

input {
  border-radius: 10px;
  min-width: 300px;
  min-height: 35px;
  background-color: var(--gray-background);
  border: 1px solid gray;
  padding-left: 5px;
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

label {
  font-size: large;
}

.delete_button,
.edit_button,
.submit_button,
.cancel_button {
  cursor: pointer;
}

.submit_button,
.cancel_button {
  width: 80px;
  height: 35px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.9rem;
}

.cancel_button {
  background-color: transparent;
  color: gray;
  border: 2px solid gray;
}

.submit_button {
  background-color: #187ff5;
  color: #fff;
  border: none;
}

.buttons {
  display: flex;
  gap: 20px;
}

.edit_buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

/*#region  side container */
.side_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.education_info {
  display: flex;
  flex-direction: column;
}

.education_side_container,
.experience_side_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Needed for the pseudo-element positioning */
  padding: 15px 5%;
  width: 80%;
}

.education_side_container::before,
.experience_side_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  border-top: 5px solid var(--gray-background);
}

.education_info form {
  display: flex;
  flex-direction: column;
}

/*#endregion*/

/*#region  container */
.container {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 5rem;
}
/*#endregion*/

/*#region resume */
.resume_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 21cm;
  height: 29.7cm;
}

.personal_info {
  background-color: aqua;
  height: 20%;
  padding: 3rem;
}

.contact_info {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.education_container_group,
.experience_container_group {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 50px;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.education_info_group,
.experience_info_group {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  gap: 10px;
}

.info_school,
.info_company {
  font-weight: 700;
  font-size: 1.1rem;
}

/*#endregion*/

/*#region general info */

.general_title,
.education_title,
.experience_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  min-width: 300px;
}

.general_info form {
  display: flex;
  flex-direction: column;
}

/*#endregion*/

/*#region experience info */

.experience_info form {
  display: flex;
  flex-direction: column;
}

/*#endregion*/

.expand_icon {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.active {
  transform: rotate(180deg);
}
